# d.run docs Code Owners

## <https://help.github.com/articles/about-codeowners/>

## first person is the doc owner, second person is the product owner

## docs
docs/* @samzong @windsonsea @Adityayxt

## code
scripts/* @samzong
